* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgba(105, 107, 226, 0.315);
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.botao-menu {
    display: none;
}

.sub-menu {
    display: none;
    border: 1px solid red;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu>li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .sub-menu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.sub-menu li {
    display: block;
    padding: 8px;
}

.conteudo img {
    max-width: 100%;
    height: auto;
}

.loja-banner .sobre-a-loja a {
    display: flex;
    flex-direction: row; /* Garantir que a imagem e o texto fiquem em uma linha */
    text-decoration: none;
    color: black;
    margin: 18px 0;
}

.loja-banner .sobre-a-loja a img {
    max-width: 50%;
    height: auto;
    margin-right: 20px; /* Adicionar espaço entre a imagem e o texto */
}

.loja-banner .sobre-a-loja a h3 {
    display: flex;
    align-items: center; /* Centralizar verticalmente o texto */
    font-size: 1.5em;
}


.roupas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.roupa img {
    width: 100%;
    height: auto;
}

.btn-add {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #0056b3;
}

@media (max-width: 1023px) {
    .roupas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    header .container {
        flex-direction: column;
    }

    .botao-menu {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu.active {
        display: block;
    }

    .roupas {
        grid-template-columns: 1fr;
    }

    .sobre-a-loja a {
        flex-direction: column;
    }
}